title: Leçons
nav:
{%- if timeless or cal.lecture1 %}
    - environnement
{% endif %}
{%- if timeless or cal.lecture2 %}
    - programmation-noyau
{% endif %}
{%- if timeless or cal.lecture3 %}
    - programmation-systeme
{% endif %}
{%- if timeless or cal.lecture4 %}
    - optimisations
{% endif %}