title: Travaux pratiques
nav:
{%- if timeless or cal.tp1 %}
    - environnement.md
{%- endif %}
{%- if timeless or cal.tp2 %}
    - programmation-noyau
{%- endif %}
{%- if timeless or cal.tp3 %}
    - programmation-systeme
{%- endif %}
{%- if timeless or cal.tp4 %}
    - optimisations.md
{%- endif %}
{%- if timeless or cal.tp5 %}
    - mini-projet.md
{%- endif %}
